h1 {
    text-align: center;
    background: #0091fc;
    border-radius: 5px;
    padding: 20px;
}


p {
	font-family: 'Times New Roman', Times, serif;

	background: -moz-linear-gradient(10deg, green, 50%);
}

span {
       background: #0091fc;
}   